@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); /*TITULOS */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"); /*SUBTITULOS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); /*PARRAFO*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"); /*NOTAS*/

#titulo-inicio {
  font-family: "Righteous";
}

h2 {
  font-family: "Almarai";
}

p {
  font-family: "Outfit";
}

#fondoC {
  background: url("../images/imgDron.JPG") no-repeat center center fixed;
  background-size: cover;
}
