@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); /*TITULOS */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"); /*SUBTITULOS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); /*PARRAFO*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"); /*NOTAS*/

:root {
  --primary-color: #2f3131;
  --second-color: #426e86;
  --third-color: #f8f1e5;
  --fourth-color: #f9ba32;
  --fifth-color: #800000;
  --sixth-color: #6b8e23;
  --seventh-color: #aaa;
  --eigth-color: #666;
  --nineth-color: #eee;
  --tenth-color: #222;
  --tile: 50px; /* opcional, matchea con TILE_SIZE del JS */
  --fade: 96px; /* si usas el mask */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}

/* ---------------------- BARRA DE NAVEGACIÓN ------------------------ */
.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid var(--fifth-color);
  background-color: var(--second-color);
}
.main-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 5em;
  padding: 0;
  font-family: "Outfit";
}
.main-nav li {
  display: flex;
  align-items: center;
}
.main-nav .home-link {
  display: inline-block;
  line-height: 1.1;
  margin-right: auto;
}
.main-nav a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--third-color);
  padding: 1em 2em;
  transition: opacity 150ms ease;
  font-size: 1.25em;
}
.main-nav:hover a {
  opacity: 0.5;
}
.main-nav a:hover {
  opacity: 1;
}
.main-nav .home-link a {
  opacity: 1 !important;
  pointer-events: none;
  cursor: default;
  align-items: center;
}
.main-nav .material-icons {
  font-size: 48px;
  color: var(--third-color);
}
button .material-icons {
  font-size: 2.5em;
  color: var(--third-color);
}
#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
/* --------------------- MAIN PAGE -----------------------------*/
.main-text {
  color: var(--third-color);
  margin: 4em 8em;
}
.ppal-title {
  font-size: 12em;
  font-family: "Righteous";
  text-align: center;
  color: var(--third-color);
}
.subtitulos-main {
  text-align: right;
  font-size: 5em;
  font-family: "Righteous";
  text-decoration: underline; /* activa subrayado */
  text-decoration-color: var(--fourth-color); /* color del subrayado */
  text-decoration-thickness: 4px; /* grosor */
  text-underline-offset: 4px;
  margin-bottom: 0.5em;
}
p {
  font-family: "Outfit";
  font-size: 2em;
  line-height: 1.5;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  color: var(--third-color);
}
.satelital {
  margin-top: 3em;
  border-bottom: 4px solid var(--sixth-color);
}
.geofisica {
  margin-top: 3em;
  border-bottom: 4px solid var(--sixth-color);
}
.gestion-riesgo {
  margin-top: 3em;
}
.imagen {
  position: relative;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-image: url("../images/space-and-geodesy-TUM.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fade al fondo de la página */
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}
.imagen::before {
  content: "";
  position: absolute;
  inset: 0; /* ocupa todo el contenedor */
  background: rgba(0, 0, 0, 0.3); /* color negro con opacidad */
  z-index: 0;
}
.imagen > * {
  position: relative;
  z-index: 1; /* el contenido encima del overlay */
}
.secInicial {
  line-height: 1.6;
  border-bottom: 4px solid var(--sixth-color);
}
.imgGrupal {
  float: right;
  width: min(39vw, 60em);
  height: auto;
  margin: 0 0 1rem 1.25rem;
  border-radius: 1em;
  border: 4px solid var(--fifth-color);
}
.secInicial::after {
  content: "";
  display: table;
  clear: both;
}
/* --------------------- LINKS PAGE -----------------------------*/
.main-links {
  margin: 9em 12em;
}
.links-title {
  font-size: 8em;
  font-family: "Righteous";
  text-align: center;
  margin-top: 0.5em;
  color: var(--third-color);
}
.links-subt {
  font-size: 4em;
  font-family: "Righteous";
  margin-top: 1.2em;
  text-align: center;
  color: var(--third-color);
  text-decoration: underline; /* activa subrayado */
  text-decoration-color: var(--fourth-color); /* color del subrayado */
  text-decoration-thickness: 4px; /* grosor */
  text-underline-offset: 4px;
}
section {
  border-bottom: 4px solid var(--sixth-color);
}
.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.2em;
}
.btn {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: "Outfit";
  text-decoration: none; /* quita el subrayado */
  color: var(--third-color);
  border-radius: 1em;
  border: 2px solid var(#000000);
  transition: background 0.2s ease, transform 0.1s ease;
}
/* --------------------------- FOOTER ---------------------------------*/
footer {
  background-color: var(--tenth-color);
  color: var(--nineth-color);
  padding-bottom: 1.2em;
  text-align: center;
  font-family: Arial, sans-serif;
  border-top: 4px solid var(--fifth-color);
}
footer .txt-footer {
  font-size: 1.2em;
  line-height: 0.5;
}
footer .disFinal {
  color: var(--eigth-color);
  font-size: 0.9em;
}
footer .footer-nav {
  display: flex;
  justify-content: center;
}
footer .footer-nav ul {
  display: flex;
  list-style: none;
  padding-top: 2em;
}
footer .footer-nav a {
  text-decoration: none;
  margin: 1em;
  font-size: 1em;
  color: var(--eigth-color);
}
#fondoC {
  background: url("../images/imgDron.JPG") no-repeat center center fixed;
  background-size: cover;
}
/* ------------------------ RESPONSIVE ------------------------*/
@media screen and (max-width: 1120px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }
  h1.ppal-title {
    font-size: 9em;
  }
  .subtitulos-main {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
  }
  .main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100dvh;
    width: min(15em, 100%);
    z-index: 10;
    transition: right 300ms ease-out;
    border-bottom: 0;
  }
  .main-nav.show {
    right: 0;
  }
  .main-nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .main-nav a {
    width: 100%;
    padding: 1em 2em;
  }
  .main-nav .home-link {
    margin-right: unset;
    display: none;
  }
  .sidebar-button {
    width: 100%;
    background-color: var(--second-color);
  }
  .main-text {
    margin: 2em;
  }
  .imagen {
    min-height: 80vh;
    background-position: center top;
  }
  .imgGrupal {
    float: none; /* deja de flotar */
    clear: both; /* empieza bajo cualquier float previo */
    display: block;
    width: 100%;
    max-width: 560px; /* opcional: tope */
    margin: 1rem auto 0; /* centrada */
  }
  .main-links {
    margin: 3em;
  }
  .links-title {
    font-size: 6em;
  }
  footer .txt-footer {
    text-align: center;
    font-size: 0.9em;
    line-height: 0.5;
  }
  footer .disFinal {
    text-align: center;
    font-size: 0.6em;
  }
  footer .footer-nav ul {
    padding-top: 1em;
  }
  footer .footer-nav a {
    margin: 1em;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 600px) {
  .main-text {
    margin: 2em;
  }
  h1.ppal-title {
    font-size: 4.25em;
  }
  .subtitulos-main {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: right 300ms ease-out;
  }
  .main-nav.show {
    right: 0;
  }
  .main-nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .main-nav a {
    width: 100%;
    padding: 1em 2em;
  }
  .main-nav .home-link {
    margin-right: unset;
    display: none;
  }
  .imagen {
    min-height: 60vh;
    background-position: center top;
  }
  .satelital {
    margin-top: 2em;
  }
  .geofisica {
    margin-top: 2em;
  }
  .gestion-riesgo {
    margin-top: 2em;
  }
  .main-links {
    margin: 2em;
  }
  .links-title {
    font-size: 4em;
  }
  footer .txt-footer {
    text-align: center;
    font-size: 0.6em;
    line-height: 0.5;
  }
  footer .disFinal {
    text-align: center;
    font-size: 0.5em;
  }
  footer .footer-nav ul {
    padding-top: 1em;
  }
  footer .footer-nav a {
    margin: 1em;
    font-size: 0.4em;
  }
}
