<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/images/G3O.svg" type="image/png" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="sidebar-button">
      <button id="open-sidebar-button" onclick="openSidebar()">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <nav class="main-nav" id="navbar">
      <ul>
        <li>
          <button id="close-sidebar-button" onclick="closeSidebar()">
            <i class="material-icons">close</i>
          </button>
        </li>
        <li class="home-link">
          <a href="#">
            Geodesia Satelital<br />
            Geofísica<br />
            Gestión del Riesgo
          </a>
        </li>
        <li>
          <a class="active-link" href="../templates/inicio.html">INICIO</a>
        </li>
        <li><a href="../templates/pubs.html">PUBLICACIONES</a></li>
        <li><a href="../templates/links.html">LINKS</a></li>
        <li><a href="../templates/contact.html">CONTACTO</a></li>
      </ul>
    </nav>
    <section class="imagen">
      <h1 class="ppal-title">Semillero G3O</h1>
    </section>
    <main>
      <div class="main-text">
        <section class="secInicial">
          <p class = "txt-relleno">
            El Semillero de Geodesia Satelital, Geofísica y Gestión del Riesgo
            de la Universidad Distrital Francisco José de Caldas es un espacio
            para fomentar la investigación y el aprendizaje en ciencias de la
            Tierra. Sus líneas principales abarcan la geodesia satelital, los
            métodos geofísicos y la gestión del riesgo, fortaleciendo la
            formación académica y científica de los estudiantes.
          </p>
          <img class="imgGrupal" src="../static/images/imgSemilleroGeo.jpg" />
          <p class = "txt-relleno">
            En los últimos años, hemos logrado avances significativos, como la
            vinculación de miembros a la sección de Geodesia del Instituto
            Geográfico Agustín Codazzi, consolidando al semillero como un
            espacio de oportunidades y conexión académica.
          </p>
          <p class = "txt-relleno">
            Promovemos el trabajo interdisciplinario, el desarrollo de
            habilidades técnicas, la participación en eventos, publicaciones y
            proyectos con impacto en la comunidad. Invitamos a quienes se
            interesen por las ciencias de la Tierra y la investigación aplicada
            a unirse y aportar al conocimiento y al desarrollo sostenible.
          </p>
        </section>
        <section class="satelital">
          <h2 class="subtitulos-main">Geodesia Satelital</h2>
          <p class = "txt-relleno">
            La geodesia satelital es un eje clave de investigación en el
            semillero, apoyada en softwares especializados como GAMIT/GLOBK,
            GPSTk y gLAB. La capacitación, liderada por los mismos estudiantes,
            fomenta un aprendizaje autónomo y colaborativo, esencial para el
            trabajo en esta área.
          </p>
          <p class = "txt-relleno">
            Hoy en día, sus aplicaciones trascienden la simple determinación de
            coordenadas, aportando a estudios sobre cambio climático,
            movimientos tectónicos y modelación de la superficie terrestre.
            Estos avances permiten a los integrantes adquirir competencias
            técnicas y analíticas, al tiempo que contribuyen con investigaciones
            de impacto científico y ambiental.
          </p>
        </section>
        <section class="geofisica">
          <h2 class="subtitulos-main">Geofísica</h2>
          <p class = "txt-relleno">
            La geofísica es una disciplina clave dentro del semillero, enfocada
            en la exploración y estudio de las propiedades físicas de la Tierra
            mediante métodos no invasivos. Los estudiantes adquieren experiencia
            en técnicas como gravimetría y magnetometría.Estas metodologías
            permiten caracterizar estructuras subterráneas, identificar recursos
            naturales y comprender procesos geodinámicos, contribuyendo a
            investigaciones científicas y proyectos de ingeniería con relevancia
            ambiental y social.
          </p>
          <p class = "txt-relleno">
            El semillero promueve la formación integral de sus integrantes
            mediante la participación activa en proyectos de investigación,
            desarrollo tecnológico y difusión del conocimiento geofísico,
            fomentando habilidades analíticas y prácticas que fortalecen su
            perfil profesional.
          </p>
        </section>
        <section class="gestion-riesgo">
          <h2 class="subtitulos-main">Gestión del Riesgo</h2>
          <p class = "txt-relleno">
            La gestión del riesgo es un eje transversal dentro del semillero,
            orientado a la identificación, evaluación y mitigación de amenazas
            naturales y antrópicas que afectan el territorio. A través del uso
            de herramientas geoespaciales, modelación y análisis de
            vulnerabilidades, los estudiantes participan en la formulación de
            estrategias que contribuyen a la prevención y reducción del impacto
            de desastres.
          </p>
          <p class = "txt-relleno">
            Este enfoque integral incluye la evaluación de riesgos asociados a
            fenómenos como inundaciones, movimientos en masa, sismos y cambio
            climático, buscando fortalecer la resiliencia comunitaria y el
            desarrollo sostenible en las regiones estudiadas.
          </p>
        </section>
      </div>
    </main>
    <footer>
      <p class="txt-footer">
        &copy; 2025 Semillero Geodesia Satelital, Geofísica y Gestión del
        Riesgo.
      </p>
      <p class="txt-footer">Todos los derechos reservados.</p>
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="../templates/icg.html">Ingeniería Catastral y Geodesia</a>
          </li>
          <li><a style="cursor: default; pointer-events: none">|</a></li>
          <li>
            <a href="#">Normas y Estatuto</a>
          </li>
        </ul>
      </nav>
      <p class="disFinal">
        Diseñado con ❤️ por Alejandra Arango, Mariana Arango y Samuel Calderon
      </p>
    </footer>
    <script src="../static/js/navbar.js"></script>
  </body>
</html>
