<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="stylesheet" href="estiloproyectos.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-[#F8F1E5] ...">
    <div class="bg-[#73605B] pr-10 pb-3 text-white text-right mb-15 ...">
        <h2 class="text-4xl pt-12 font-semibold underline ...">Libros</h2>
    </div>
    
    <div class="mx-auto w-[700px] text-black text-left border-[#2F3131]/40 border-b ...">
        <h1 class="text-base pt-2 ...">Geodesia Satelital para Niños<h1>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">2018</p>
        <p class="text-[13px] text-justify pt-2 pb-2 ..."><em>Geodesia Satelital para Niños</em>, es un libro educativo, dirigido al público de los infantes. Este se desarrolló con el propósito de exponer y explicar de forma didáctica, sencilla y divulgativa,
            temáticas relacionadas con la geodesia satelital. Para ello, se inicia con una breve introducción a la geodesia y del cómo la forma de la Tierra ha sido entendida con el pasar de los años, teniendo en cuenta campos como la astronomía. En torno al tópico
            central, el texto presenta el método GNSS (Sistema Mundial de Navegación por Satélite), destacando su precisión, además de mostrar el procesamiento GNSS para el análisis de datos con el fin de obtención de coordenadas geodésicas.
        </p>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Florez Canaria, L. L. · Andrade Sánchez, A. A. · Pulido Rubio, F. A.</p>
        <a href="/Libro-Geodesia-Satelital-para-Niños.pdf" download class="text-[10px] rounded-sm mb-1 font-[Red_Hat_Display] bg-[#73605B]/50 border-1 border-[#2F3131]/40  flex items-center justify-center w-19 cursor-pointer ...">Descargar libro</a>
    </div>
    <div class="mx-auto w-[700px] text-black text-left border-[#2F3131]/40 border-b ...">
        <h1 class="text-base pt-2 ...">50 años de Ingeniería Catastral y Geodesia<h1>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Octubre de 2017</p>
        <p class="text-[13px] text-justify pt-2 pb-2 ...">El objetivo de este libro es brindar un homenaje a la Universidad Distrital Francisco José de Caldas, entendiendo que en esta institución se creó el proyecto curricular de Ingeniería Catastral y Geodesia, teniendo en cuenta la necesidad 
        de abordar el tópico de la organización del territorio nacional de Colombia. El libro no quiere ser pretencioso en ningún sentido, no es un recuento histórico del proyecto curricular en estos 50 años. Tampoco es un documento científico en el cual se puedan consultar los avances sobre
        ciencia y tecnología del quehacer profesional del ingeniero catastral y geodesta, ni es una compilación de ensayos; es una muestra del recorrido de medio siglo. El libro es también para que
        aquellos que quieran hacer parte de la comunidad académica puedan consultar elementos que les motiven para el desarrollo de sus derroteros profesionales.
        </p>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Cárdenas Contreras, A. ·  Otros</p>
        <a href="/50 años de Ingeniería Catastral y Geodesia.pdf" download class="text-[10px] rounded-sm mb-1 font-[Red_Hat_Display] bg-[#73605B]/50 border-1 border-[#2F3131]/40  flex items-center justify-center w-19 cursor-pointer ...">Descargar libro</a>
    </div>
    <div class="mx-auto w-[700px] text-black text-left border-[#2F3131]/40 border-b ...">
        <h1 class="text-base pt-2 ...">Fundamentos teóricos y su aplicación en los métodos de potencial geomagnético y gravimétrico<h1>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">2014</p>
        <p class="text-[13px] text-justify pt-2 pb-2 ...">La Universidad Distrital Francisco José de Caldas, a través de su pregrado en Ingeniería Catastral y Geodesia, presenta el libro <em>Fundamentos teóricos y su aplicación en los
            métodos de potencial geomagnético y gravimétrico</em> con el propósito de desarrollar de forma rigurosa, didáctica y ágil, la lectura de cada uno de los temas tratados, orientado a los estudiantes y profesionales de pregrado y
            posgrado en Ciencias de la Tierra. Lo que se busca, es mostrar una visión teórica y aplicada de los métodos de potencial, también conocidos como métodos de fuente natural. Por un lado, en magnetometría se estudia la distribución de cuerpos
            litológicos en profundidad, teniendo en cuenta las anomalías causadas por los cambios en las propiedades magnéticas de las rocas en el subsuelo a través de la susceptibilidad magnética. Por otro lado, en gravimetría se estudian los contrastes 
            de densidad presentes en la litosfera para el estudio de la forma de la Tierra a través del geoide. En geofísica, este método se emplea como una herramienta de soporte a la sísmica, para el reconocimiento en la exploración petrolera.
        </p>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Cárdenas Contreras, A. · Fuentes, H. J. · Castillo López, L. A. · Acosta Chady, J. C.</p>
        <a href="/Fundamentos teóricos y su aplicación en los métodos de potencial geomagnético y gravimétrico.pdf" download class="text-[10px] rounded-sm mb-1 font-[Red_Hat_Display] bg-[#73605B]/50 border-1 border-[#2F3131]/40  flex items-center justify-center w-19 cursor-pointer ...">Descargar libro</a>
    </div>
    <div class="mx-auto w-[700px] text-black text-left border-[#2F3131]/40 border-t border-b ...">
        <h1 class="text-base pt-2 ...">FUNDAMENTOS DE GEODESIA Y TOPOGRAFIA
            PARA HIDROGRAFIA<h1>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Marzo de 2009</p>
        <p class="text-[13px] text-justify pt-2 pb-2 ...">Este manual tiene como propósito mostrar que Geodesia, es una ciencia de la tierra que hace parte
            del campo de la matemática aplicada, cuyo objeto es determinar las dimensiones y forma de la
            tierra, esto no implica solo estudiar la plataforma continental del país, sino también la plataforma
            oceánica. Por esta razón, se presenta a los estudiantes y profesionales del área de Oceanografía e
            Hidrografía de la Armada Nacional de Colombia, el <em>Manual de Geodesia para Hidrografía</em>, cuyo
            único propósito es mostrar un enfoque conceptual y pedagógico, de ágil lectura, que no es
            exhaustivo desde ningún punto de vista en lo que se refiere a las demostraciones matemáticas, pero
            busca aunar esfuerzos en el conocimiento nacional de Geodesia para Hidrografía.</p>
        <p class="text-[11.5px] pb-4.5 text-black/55 ...">Cárdenas Contreras, A. ·  Bohórquez Castillo, N. A. ·  Nieto Gómez, Á. ·  Fonseca Espejo, D. C. ·  Arias Cardozo, J. A.</p>
        <a href="/FUNDAMENTOS DE GEODESIA Y TOPOGRAFIA PARA HIDROGRAFIA.pdf" download class="text-[10px] rounded-sm mb-1 font-[Red_Hat_Display] bg-[#73605B]/50 border-1 border-[#2F3131]/40  flex items-center justify-center w-19 cursor-pointer ...">Descargar libro</a>
    </div>
    