<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" href="../static/images/G3O.svg" type="image/png" />
    <title>Links G3O</title>
  </head>
  <body>
    <header
      id="navbar"
      class="fixed top-0 left-0 right-0 bg-[#426E86] shadow-md z-50 transition-transform duration-300"
    >
      <div
        class="container mx-auto px-4 py-4 flex justify-between items-center text-[#F8F1E5]"
      >
        <h1 class="text-2xl font-bold">
          Geodesia Satelital, Geofísica y Gestión del Riesgo
        </h1>
        <nav class="space-x-4 text-lg">
          <a
            href="{{ url_for('home') }}"
            class="inline-block px-3 py-1 rounded border border-transparent text-[#F8F1E5] bg-transparent hover:border-[#F8F1E5] hover:bg-white/10 transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110"
            >Inicio</a
          >

          <a
            href="#"
            class="inline-block px-3 py-1 rounded border border-transparent text-[#F8F1E5] bg-transparent hover:border-[#F8F1E5] hover:bg-white/10 transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110"
            >Publicaciones</a
          >

          <a
            href="{{ url_for('links') }}"
            class="inline-block px-3 py-1 rounded border border-transparent text-[#F8F1E5] bg-transparent hover:border-[#F8F1E5] hover:bg-white/10 transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110"
            >Links</a
          >
        </nav>
      </div>
    </header>
    <!--#F9BA32, #426E86, #F8F1E5, #2F3131, #800000--->
    <div id="contendor-ppal" class="h-full">
      <!-- Contenido principal -->
      <div
        id="container-texto"
        class="flex-1 bg-[#2F3131] border-b-10 border-[#800000]"
      >
        <div class="bg-[#426E86] p-15 border-b-10 border-[#800000]">
          <p
            id="titulo-inicio"
            class="text-8xl text-center text-[#F8F1E5] underline decoration-[#F9BA32] font-bold pt-10"
          >
            Links Relacionados
          </p>
        </div>
        <div class="container mx-auto px-8">
          <section id="software" class="mb-15">
            <h2
              class="text-6xl font-bold mt-15 text-[#F8F1E5] border-b-5 text-center border-[#F9BA32]"
            >
              <div class="mb-5">Software</div>
            </h2>
            <div class="border-b-5 border-[#F9BA32]">
              <h3 class="text-5xl font-bold m-5 text-[#F8F1E5] text-center">
                GAMMIT/GLOBK
              </h3>

              <p class="text-3xl mt-10 m-5 text-[#F8F1E5]">
                Dentro del semillero se cuenta con la licencia para el software
                de procesamiento GAMMIT/GLOBK, el cual permite procesar datos
                GNSS, VLBI y experimentos SLR. GAMMIT/GLOBK fue desarrollado en
                Massachusetts Institute of Technology (MIT) bajo la dirección
                del Dr. Robert W. King. Para solicitar la licencia de este
                software se debe hablar directamente con el profesor Andrés
                Cárdenas Contreras.
              </p>

              <ul class="grid grid-cols-2 gap-16 px-8 mt-10 mb-5">
                <li>
                  <a
                    href="http://geoweb.mit.edu/gg/"
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#426e86] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                    target="_blank"
                  >
                    Web Page GAMMIT/GLOBK
                  </a>
                </li>

                <li>
                  <a
                    href="../docs/manualInstalación.pdf"
                    target="_blank"
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#a0522d] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                  >
                    Tutorial de Instalación
                  </a>
                </li>
              </ul>
            </div>
            <div class="border-b-5 border-[#F9BA32]">
              <h3 class="text-5xl font-bold m-5 text-[#F8F1E5] text-center">
                GPSTk
              </h3>
              <p class="text-3xl mt-10 m-5 text-[#F8F1E5]">
                GPS Toolkit es un software desarrollado por la Universidad de
                Texas. Su ideal era ser una libreria de C++ abierta a todo el
                público para el procesamiento de datos GNSS, sin embargo como se
                menciona en su repositorio oficial la libreria actualmente se
                encuenta en desuso, por tal motivo se lista el links a las
                librerias que recomienda el autor para su uso.
              </p>
              <ul class="grid grid-cols-2 gap-16 px-8 mt-10 mb-5">
                <li>
                  <a
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#800000] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                    href="https://gitlab.com/sgl-ut/gnsstk"
                    target="_blank"
                  >
                    GNSSTk (Libreria)</a
                  >
                </li>
                <li>
                  <a
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#6b8e23] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                    href="https://gitlab.com/sgl-ut/gnsstk-apps"
                    target="_blank"
                  >
                    GNSSTk (Aplicaciones)
                  </a>
                </li>
              </ul>
            </div>
            <div class="border-b-5 border-[#F9BA32]">
              <h3 class="text-5xl font-bold m-5 text-[#F8F1E5] text-center">
                gLAB
              </h3>
              <p class="text-3xl mt-10 m-5 text-[#F8F1E5]">
                gLAB es un software desarrollado por el grupo de Astronomia y
                Geomatica (gAGE) de la Universidad Politecnica de Cataluña (UPC)
                para la Agencia Espacial Europea (ESA), este software permite
                realizar modelos precisos de Observaciones GNSS.
              </p>
              <ul class="grid grid-cols-2 gap-16 px-8 mt-10 mb-5">
                <li>
                  <a
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#4B4B4B] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                    href="https://gage.upc.edu/en/learning-materials/software-tools/glab-tool-suite"
                    target="_blank"
                  >
                    Web Page gLAB
                  </a>
                </li>
                <li>
                  <a
                    class="block text-center px-6 py-4 text-2xl font-semibold text-[#F8F1E5] bg-[#2C3E50] rounded-lg transition transform duration-300 hover:scale-110 hover:text-white"
                    href="https://gage.upc.edu/en/learning-materials/software-tools/glab-tool-suite-links/glab-download"
                    target="_blank"
                  >
                    Links de Descarga gLAB
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <section id="Mision" class="mb-15">
            <h2 class="text-6xl font-bold text-[#F8F1E5]">
              Entidades Relacionadas
            </h2>
            <p class="text-3xl mt-15 text-[#F8F1E5]">
              Se listan acontinuación entidades relacionadas a la Geodesia
              Satelital, Geofísica y Gestión del Riesgo
            </p>
            <section class="py-12 px-6">
              <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
              >
                <!-- Tarjeta 1 -->
                <a href="https://www.udistrital.edu.co/inicio" target="_blank">
                  <div
                    class="bg-white rounded-xl shadow-md p-6 transition transform hover:scale-105 hover:shadow-xl text-center"
                  >
                    <img
                      src="../static/images/Escudo_UD.svg.png"
                      alt="Universidad Distrital"
                      class="h-24 mx-auto mb-4 object-contain"
                    />
                    <h3 class="text-xl font-semibold text-[#800000]">
                      Universidad Distrital
                    </h3>
                    <p class="text-gray-600 text-sm mt-2">
                      Facultad de Ingeniería
                    </p>
                  </div>
                </a>

                <!-- Tarjeta 2 -->
                <a href="https://www.unavco.org/" target="_blank">
                  <div
                    class="bg-white rounded-xl shadow-md p-6 transition transform hover:scale-105 hover:shadow-xl text-center"
                  >
                    <img
                      src="../static/images/UNAVCO-Logo-Red-BlkShadow_TM1000-1-removebg-preview.png"
                      alt="UNAVCO"
                      class="h-24 mx-auto mb-4 object-contain"
                    />
                    <h3 class="text-xl font-semibold text-[#426e86]">UNAVCO</h3>
                    <p class="text-gray-600 text-sm mt-2">
                      University NAVSTAR Consortium
                    </p>
                  </div>
                </a>

                <!-- Tarjeta 3 -->
                <a href="https://www.igac.gov.co/" target="_blank">
                  <div
                    class="bg-white rounded-xl shadow-md p-6 transition transform hover:scale-105 hover:shadow-xl text-center"
                  >
                    <img
                      src="../static/images/logo-igac-colorhorizontal.png"
                      alt="IGAC"
                      class="h-24 mx-auto mb-4 object-contain"
                    />
                    <h3 class="text-xl font-semibold text-[#a0522d]">IGAC</h3>
                    <p class="text-gray-600 text-sm mt-2">
                      Instituto Geográfico Agustín Codazzi
                    </p>
                  </div>
                </a>

                <!-- Tarjeta 3 -->
                <a href="https://www.esa.int/" target="_blank">
                  <div
                    class="bg-white rounded-xl shadow-md p-6 transition transform hover:scale-105 hover:shadow-xl text-center"
                  >
                    <img
                      src="../static/images/ESA_logo.svg.png"
                      alt="ESA"
                      class="h-24 mx-auto mb-4 object-contain"
                    />
                    <h3 class="text-xl font-semibold text-[#4B4B4B]">ESA</h3>
                    <p class="text-gray-600 text-sm mt-2">
                      European Spatial Agency
                    </p>
                  </div>
                </a>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <footer
      style="
        background-color: #222;
        color: #eee;
        padding: 20px 0;
        text-align: center;
        font-family: Arial, sans-serif;
      "
    >
      <div style="max-width: 1200px; margin: 0 auto; padding: 0 15px">
        <p>
          &copy; 2025 Semillero Geodesia Satelital, Geofísica y Gestión del
          Riesgo.
        </p>
        <p>Todos los derechos reservados.</p>
        <nav style="margin: 10px 0">
          <a
            href="{{ url_for('ingCat') }}"
            style="color: #aaa; margin: 0 10px; text-decoration: none"
            >Ingeniería Catastral y Geodesia</a
          >
          |
          <a href="#" style="color: #aaa; margin: 0 10px; text-decoration: none"
            >Normativa y Estatutos</a
          >
          |
          <a
            href="../templates/contacto.html"
            style="color: #aaa; margin: 0 10px; text-decoration: none"
            target="_blank"
            >Contacto</a
          >
        </nav>
        <p style="font-size: 0.9em; color: #666">
          Diseñado con ❤️ por Alejandra Arango, Mariana Arango y Samuel Calderon
        </p>
      </div>
    </footer>
    <script module="module" src="../static/js/app.js"></script>
    <script>
      let lastScrollTop = 0;
      const navbar = document.getElementById("navbar");

      window.addEventListener("scroll", function () {
        let scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          // Scrolling down
          navbar.style.transform = "translateY(-100%)";
        } else {
          // Scrolling up
          navbar.style.transform = "translateY(0)";
        }
        lastScrollTop = scrollTop;
      });
    </script>
  </body>
</html>
