<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="estiloproyectos.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-[#F8F1E5] ...">
    <div class="bg-[#2F3131] pr-10 pb-5 text-white text-right ...">
        <h1 class="text-5xl pt-15 underline">Proyectos</h1>
        <p class="text-1xl pt-5 pl-10">Durante el período de labores del semillero, se han llevado a cabo 
       diversos proyectos. Estos incluyen la publicación de libros, artículos y cursos que aportan a la 
       literatura y desarrollo científico en los campos de geodesia satelital, geofísica y gestión de riesgos.
       Asimismo, actualmente, se encuentran actividades en curso que abarcan desde temas investigativos,
       hasta de divulgación en torno a las ramas ya mencionadas. Seleccionando los botones inferiores, es
       posible ampliar información acerca de las mismas y de igual forma, de lo ya finiquitado.    
        </p>
    </div>
    <div class="grid grid-flow-col grid-rows-9 gap-4 pl-3 pr-3 pt-5 ...">
        <button onclick="window.location.href='libros.html';"
        type="button"
        class="row-span-9 row-start-1 bg-[#73605B] border-2 border-transparent flex items-center justify-center w-38 font-[Almarai] rounded-lg hover:border-[#2F3131] cursor-pointer">
        Libros
        </button>
        <button onclick="window.location.href='estatutos.html';"
        type="button"
        class="row-span-9 row-start-1 bg-[#F9BA32] border-2 border-transparent flex items-center justify-center w-38 font-[Almarai] rounded-lg hover:border-[#2F3131] cursor-pointer">
        Artículos
        </button>
        <button onclick="window.location.href='estatutos.html';"
        type="button"
        class="row-span-9 row-start-1 bg-[#C5BEBA] border-2 border-transparent flex items-center justify-center w-38 font-[Almarai] rounded-lg hover:border-[#2F3131] cursor-pointer">
        Cursos GNSS
        </button>
        <button onclick="window.location.href='estatutos.html';"
        type="button"
        class="row-start-1 row-end-10 bg-[#426E86] border-2 border-transparent flex items-center justify-center w-38 text-center font-[Almarai] rounded-lg hover:border-[#2F3131] cursor-pointer">
        Proyectos Actuales
        </button>
    </div>
</body>
</html>