<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="icon" href="../static/images/G3O.svg" type="image/png" />
        <title>Publicaciones</title>
    </head>
    <body>
        <div class="sidebar-button">
            <button id="open-sidebar-button" onclick="openSidebar()">
                <i class="material-icons">menu</i>
            </button>
        </div>
        <nav class="main-nav" id="navbar">
            <ul>
                <li>
                    <button id="close-sidebar-button" onclick="closeSidebar()">
                        <i class="material-icons">close</i>
                    </button>
                </li>
                <li class="home-link">
                    <a href="#">
                        Geodesia Satelital<br />
                        Geofísica<br />
                        Gestión del Riesgo
                    </a>
                </li>
                <li>
                    <a class="active-link" href="../templates/index.html"
                        >INICIO</a
                    >
                </li>
                <li><a href="../templates/pubs.html">PUBLICACIONES</a></li>
                <li><a href="#">LINKS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <main class="main-pubs">
            <h2 class="subt-pubs">Publicaciones</h2>
            <p class="txt-relleno">
                El semillero de geodesia satelital, geofísica y gestión del
                riesgo ha realizado en los ultimos años las siguientes
                investigaciones, documentos, libros o manuales para el público:
            </p>
            <ul class="lista-pdfs">
                <li class="pdf-item">
                    <a
                        href="../docs/50-años-final-1.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        50 Años de la Ingeniería Catastral y Geodesia
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores">Andrés Cárdenas</span>
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/edoc.site_geodesia-geometrica-ciohpdf.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Fundamentos de Geodesia y Topografía para Hidrografía
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores">Andrés Cárdenas </span>
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/Fundamentos-teóricos.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Fundamentos Teóricos y su Aplicación en los Métodos de
                        Potencial Geomagnético y Gravimétrico
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores">Andrés Cárdenas</span>
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/GNSS-GPSTK.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Procesamiento de Ficheros RINEX Observados a partir del
                        Software GPStk
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores"
                            >Cristian Salas, Daniel Coy, Karen Rincon</span
                        >
                        <span> | </span>
                        <span class="pdf-tipo manual">Manual</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/INFORME-FINAL.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Apliación GNSS en las Cartas Náuticas y Soporte
                        Aeronáutico del Aeropuerto Vanguardia en Villavicencio
                        Meta
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores"
                            >Jeimmy Fagua, Esperanza Gualdrón, Elkin
                            Góngora</span
                        >
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/Libro-Geodesia-Satelital-para-Niños.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Geodesia Satelital para Niños
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores"
                            >Lizeth Flores, Andrés Andrade, Fredy Pulido</span
                        >
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a
                        href="../docs/RETOS-DE-LA-GEODESIA-EN-EL-SIGLO-XXI.pdf"
                        target="_blank"
                        class="pdf-titulo"
                    >
                        Retos de la Geodesia en el Siglo XXI
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores">Andrés Cárdenas</span>
                        <span> | </span>
                        <span class="pdf-tipo presentacion">Presentacion</span>
                        <span> | </span>
                        <span class="pdf-estado terminado">Terminado</span>
                    </div>
                </li>
                <li class="pdf-item">
                    <a href="#" class="pdf-titulo">
                        Manual Instalación GAMIT GLOBK
                    </a>
                    <div class="pdf-meta">
                        <span class="pdf-autores">Samuel Calderon</span>
                        <span> | </span>
                        <span class="pdf-tipo libro">Libro</span>
                        <span> | </span>
                        <span class="pdf-estado proceso">Desarrollo</span>
                    </div>
                </li>
            </ul>
        </main>
        <footer>
            <p class="txt-footer">
                &copy; 2025 Semillero Geodesia Satelital, Geofísica y Gestión
                del Riesgo.
            </p>
            <p class="txt-footer">Todos los derechos reservados.</p>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">Ingeniería Catastral y Geodesia</a>
                    </li>
                    <li>
                        <a style="cursor: default; pointer-events: none">|</a>
                    </li>
                    <li>
                        <a href="#">Normas y Estatuto</a>
                    </li>
                </ul>
            </nav>
            <p class="disFinal">
                Diseñado con ❤️ por Alejandra Arango, Mariana Arango y Samuel
                Calderon
            </p>
        </footer>
        <script src="../static/js/navbar.js"></script>
    </body>
</html>
