<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/images/G3O.svg" type="image/png" />
    <title>Publicaciones</title>
  </head>
  <body>
    <div class="sidebar-button">
      <button id="open-sidebar-button" onclick="openSidebar()">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <nav class="main-nav" id="navbar">
      <ul>
        <li>
          <button id="close-sidebar-button" onclick="closeSidebar()">
            <i class="material-icons">close</i>
          </button>
        </li>
        <li class="home-link">
          <a href="#">
            Geodesia Satelital<br />
            Geofísica<br />
            Gestión del Riesgo
          </a>
        </li>
        <li>
          <a class="active-link" href="../templates/inicio.html">INICIO</a>
        </li>
        <li><a href="../templates/pubs.html">PUBLICACIONES</a></li>
        <li><a href="../templates/links.html">LINKS</a></li>
        <li><a href="../templates/contact.html">CONTACTO</a></li>
      </ul>
    </nav>
    <footer>
      <p class="txt-footer">
        &copy; 2025 Semillero Geodesia Satelital, Geofísica y Gestión del
        Riesgo.
      </p>
      <p class="txt-footer">Todos los derechos reservados.</p>
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="../templates/icg.html">Ingeniería Catastral y Geodesia</a>
          </li>
          <li><a style="cursor: default; pointer-events: none">|</a></li>
          <li>
            <a href="#">Normas y Estatuto</a>
          </li>
        </ul>
      </nav>
      <p class="disFinal">
        Diseñado con ❤️ por Alejandra Arango, Mariana Arango y Samuel Calderon
      </p>
    </footer>
  </body>
</html>
