

:root{
    --colorTextos: #C5BEBA;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F1E5;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;     /*Centrar vertical*/
    align-items: center;         /*Centrar horizontal*/
}

h1{
    font-family: "Righteous", sans-serif;
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
}

form{
    background: #fff;
    width: 50%;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color: #426E86;
    font-size: 18px;
    padding: 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94, 93, 93);
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #426E86;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
}